<nav class="navbar bg-dark navbar-dark mb-4">
  <a class="navbar-brand" href="/">ActiFi Code Audition</a>
</nav>

<div class="container">
  <div class="row">
      <div class="col">
          <h1 class="display-4">Fantasy League Players</h1>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col">
          <button class="btn btn-primary" data-toggle="modal" data-target="#formModal" (click)="selectPlayer()">Add Player</button>
      </div>
      <div class="col">
          <app-pagination></app-pagination>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <app-player-list></app-player-list>
      </div>
    </div>
  <div class="row">
      <div class="col">
          <app-result-page></app-result-page>
      </div>
      <div class="col">
          <app-pagination></app-pagination>
      </div>
  </div>

</div>
<app-player-form></app-player-form>
<app-player-delete></app-player-delete>